<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="{{url_for('static', filename='img/data-analysis.png')}}">
        <link rel="stylesheet" href="/static/css/test.css">
        <!-- <script type="text/javascript" src="/static/js/index.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
        <link href='/static/fullcalendar/lib/main.css' rel='stylesheet' />
        <script src='/static/fullcalendar/lib/main.js'></script>
        <title>Infomation Monitor</title>
    </head>
    <body>
        <div name="img" class="img">
            <div name="img cover" class="img-cover">
                <div name="leftside" class="left">
                    <div class="currentside">
                        <div name="currentWeather" class="currentWeather"></div>
                        <div name="CurrentTime" class="currenttime">
                            <div>
                                <p class="hour"></p>
                            </div>
                            <div>
                                <p class="min"></p>
                            </div>
                            <div>
                                <p class="year"></p>
                            </div>
                            <div>
                                <p class="month"></p>
                            </div>
                            <div>
                                <p class="day"></p>
                            </div>
                        </div>
                    </div>
                    <div name="weatherforecast" class="weatherfor">
                        <div name="1st" class="forcast">
                            <p class="timename" id="timename01"></p>
                            <div id="forcast01"></div>
                            <div>
                                <p class="forcast_temp" id="temp01"></p>
                                <p class="forcast_humi" id="humi01"></p>
                            </div>
                        </div>
                        <div name="2st" class="forcast">
                            <p class="timename" id="timename02"></p>
                            <div id="forcast02"></div>
                            <div>
                                <p class="forcast_temp" id="temp02"></p>
                                <p class="forcast_humi" id="humi02"></p>
                            </div>
                        </div>
                        <div name="3st" class="forcast">
                            <p class="timename" id="timename03"></p>
                            <div id="forcast03"></div>
                            <div>
                                <p class="forcast_temp" id="temp03"></p>
                                <p class="forcast_humi" id="humi03"></p>
                            </div>
                        </div>
                        <div name="4st" class="forcast">
                            <p class="timename" id="timename04"></p>
                            <div id="forcast04"></div>
                            <div>
                                <p class="forcast_temp" id="temp04"></p>
                                <p class="forcast_humi" id="humi04"></p>
                            </div>
                        </div>
                        <div name="5st" class="forcast">
                            <p class="timename" id="timename05"></p>
                            <div id="forcast05"></div>
                            <div>
                                <p class="forcast_temp" id="temp05"></p>
                                <p class="forcast_humi" id="humi05"></p>
                            </div>
                        </div>
                    </div>
                    <div name="covid19" class="covid">
                        <div name="covid_title" class="covid19_level">
                            <div><p name="covid19_level" class="covid_title">코로나 19 현황</p></div>
                            <div><p name="stdDay" class="stdDay"></p></div>
                        </div>
                        <table class="covid_table">
                            <thead>
                                <tr>
                                    <td class="area"></td>
                                    <td class="covid_title">누적 확진자</td>
                                    <td class="covid_title">전일 확진자</td>
                                    <td class="covid_title">지역감염</td>
                                    <td class="covid_title">해외유입</td>
                                    <td class="covid_title">10만명 당</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="area"></td>
                                    <td class="covid_title">누적 확진자</td>
                                    <td class="covid_title">전일 확진자</td>
                                    <td class="covid_title">지역감염</td>
                                    <td class="covid_title">해외유입</td>
                                    <td class="covid_title">10만명 당</td>
                                </tr>
                                <tr>
                                    <td class="area"></td>
                                    <td class="covid_title">누적 확진자</td>
                                    <td class="covid_title">전일 확진자</td>
                                    <td class="covid_title">지역감염</td>
                                    <td class="covid_title">해외유입</td>
                                    <td class="covid_title">10만명 당</td>
                                </tr>
                                <tr>
                                    <td class="area"></td>
                                    <td class="covid_title">누적 확진자</td>
                                    <td class="covid_title">전일 확진자</td>
                                    <td class="covid_title">지역감염</td>
                                    <td class="covid_title">해외유입</td>
                                    <td class="covid_title">10만명 당</td>
                                </tr>
                                <tr>
                                    <td class="area"></td>
                                    <td class="covid_title">누적 확진자</td>
                                    <td class="covid_title">전일 확진자</td>
                                    <td class="covid_title">지역감염</td>
                                    <td class="covid_title">해외유입</td>
                                    <td class="covid_title">10만명 당</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div name="BusStop" class="realtimebusside">
                        <div name="dodam" class="dodam_total">
                            <div>
                                <div><p name="dodam" class="dodam_title">도담마을아이파크.죽전휴먼빌 (죽전역 방면)</p></div>
                            </div>
                            <div>
                                <div name="큰틀" class="dodam_1st">
                                    <div name="차량번호" class="car_num">
                                        <p name="car_name" id="car_name1" class="car_name"></p>
                                    </div>
                                    <div name="첫번째 차량 정보" class="arrival_infomation_1st">
                                        <div name="1 번째">
                                            <p id="arrival11" class="arrival_1st">현재 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime11" class="arrivalTime_1st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation11" class="arrival_station_1st"></p>
                                        </div>
                                    </div>
                                    <div name="두번째 차량 정보" class="arrival_infomation_2nd">
                                        <div name="2 번째">
                                            <p id="arrival12" class="arrival_2nd">다음 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime12" class="arrivalTime_2st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation12" class="arrival_station_2nd"></p>
                                        </div>
                                    </div>
                                </div>
                                <div name="큰틀" class="dodam_1st">
                                    <div name="차량번호" class="car_num">
                                        <p name="car_name" id="car_name2" class="car_name"></p>
                                    </div>
                                    <div name="첫번째 차량 정보" class="arrival_infomation_1st">
                                        <div name="1 번째">
                                            <p id="arrival21" class="arrival_1st">현재 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime21" class="arrivalTime_1st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation21" class="arrival_station_1st"></p>
                                        </div>
                                    </div>
                                    <div name="두번째 차량 정보" class="arrival_infomation_2nd">
                                        <div name="2 번째">
                                            <p id="arrival22" class="arrival_2nd">다음 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime22" class="arrivalTime_2st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation22" class="arrival_station_2nd"></p>
                                        </div>
                                    </div>
                                </div>
                                <div name="큰틀" class="dodam_1st">
                                    <div name="차량번호" class="car_num">
                                        <p name="car_name" id="car_name3" class="car_name"></p>
                                    </div>
                                    <div name="첫번째 차량 정보" class="arrival_infomation_1st">
                                        <div name="1 번째">
                                            <p id="arrival31" class="arrival_1st">현재 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime31" class="arrivalTime_1st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation31" class="arrival_station_1st"></p>
                                        </div>
                                    </div>
                                    <div name="두번째 차량 정보" class="arrival_infomation_2nd">
                                        <div name="2 번째">
                                            <p id="arrival32" class="arrival_2nd">다음 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime32" class="arrivalTime_2st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation32" class="arrival_station_2nd"></p>
                                        </div>
                                    </div>
                                </div>
                                <div name="큰틀" class="dodam_1st">
                                    <div name="차량번호" class="car_num">
                                        <p name="car_name" id="car_name4" class="car_name"></p>
                                    </div>
                                    <div name="첫번째 차량 정보" class="arrival_infomation_1st">
                                        <div name="1 번째">
                                            <p id="arrival41" class="arrival_1st">현재 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime41" class="arrivalTime_1st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation41" class="arrival_station_1st"></p>
                                        </div>
                                    </div>
                                    <div name="두번째 차량 정보" class="arrival_infomation_2nd">
                                        <div name="2 번째">
                                            <p id="arrival42" class="arrival_2nd">다음 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime42" class="arrivalTime_2st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation42" class="arrival_station_2nd"></p>
                                        </div>
                                    </div>
                                </div>
                                <div name="큰틀" class="dodam_1st">
                                    <div name="차량번호" class="car_num">
                                        <p name="car_name" id="car_name5" class="car_name"></p>
                                    </div>
                                    <div name="첫번째 차량 정보" class="arrival_infomation_1st">
                                        <div name="1 번째">
                                            <p id="arrival51" class="arrival_1st">현재 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime51" class="arrivalTime_1st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation51" class="arrival_station_1st"></p>
                                        </div>
                                    </div>
                                    <div name="두번째 차량 정보" class="arrival_infomation_2nd">
                                        <div name="2 번째">
                                            <p id="arrival52" class="arrival_2nd">다음 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime52" class="arrivalTime_2st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation52" class="arrival_station_2nd"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div name="daeji" class="daeji_total">
                            <div>
                                <div><p name="daeji" class="daeji_title">대일초교후문 (대지초교.금강플라자방면)</p></div>
                            </div>
                            <div>
                                <div name="큰틀" class="daeji_1st">
                                    <div name="차량번호" class="car_num">
                                        <p name="car_name" id="car_name6" class="car_name"></p>
                                    </div>
                                    <div name="첫번째 차량 정보" class="arrival_infomation_1st">
                                        <div name="1 번째">
                                            <p id="arrival61" class="arrival_1st">현재 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime61" class="arrivalTime_1st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation61" class="arrival_station_1st"></p>
                                        </div>
                                    </div>
                                    <div name="두번째 차량 정보" class="arrival_infomation_2nd">
                                        <div name="2 번째">
                                            <p id="arrival62" class="arrival_2nd">다음 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime62" class="arrivalTime_2st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation62" class="arrival_station_2nd"></p>
                                        </div>
                                    </div>
                                </div>
                                <div name="큰틀" class="daeji_1st">
                                    <div name="차량번호" class="car_num">
                                        <p name="car_name" id="car_name7" class="car_name"></p>
                                    </div>
                                    <div name="첫번째 차량 정보" class="arrival_infomation_1st">
                                        <div name="1 번째">
                                            <p id="arrival71" class="arrival_1st">현재 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime71" class="arrivalTime_1st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation71" class="arrival_station_1st"></p>
                                        </div>
                                    </div>
                                    <div name="두번째 차량 정보" class="arrival_infomation_2nd">
                                        <div name="2 번째">
                                            <p id="arrival72" class="arrival_2nd">다음 차</p>
                                        </div>
                                        <div name="도착 남은 시간">
                                            <p id="arrivalTime72" class="arrivalTime_2st"></p>
                                        </div>
                                        <div name="도착 남은 정거장">
                                            <p id="arrivalStation72" class="arrival_station_2nd"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div name="rightside" class="right">
                <div id="calendar-container">
                    <div id="calendar"></div>
                </div>
            </div>
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
        
    </body>
</html>